.button {
  @apply px-3 py-[0.28rem] rounded-md border-2 border-white transition-all duration-[220ms] select-none;

  box-shadow: 1px 1px 0 #fff;

  &:hover {
    @apply translate-x-[1px] translate-y-[1px] border-transparent bg-white text-neutral-900;

    box-shadow: 0 0 0 #fff;
  }
  &:active {
    @apply bg-neutral-200;
  }

  &-disabled,
  &[disabled] {
    @apply cursor-not-allowed px-3 py-[0.28rem] rounded-md border-2 border-neutral-300 text-neutral-300;
    box-shadow: 1px 1px 0 theme("colors.neutral.300");

    &:hover,
    &:active {
      @apply px-3 py-[0.28rem] rounded-md border-2 border-neutral-300 text-neutral-300;
    }
  }
}
