.wrapper {
  --cube-size: 85px;
  @apply h-[var(--cube-size)] w-[var(--cube-size)] rounded-2xl relative overflow-hidden border-[5px] border-neutral-100;

  &-hidden {
    @extend .wrapper;
    @apply hidden #{!important};
  }

  .clip {
    @apply h-full w-full overflow-hidden rotate-45 scale-[1.55];
    animation: yeet 2s ease-out infinite;
  }

  .gradient {
    @apply content-[""] absolute inset-[0.19rem] rounded-xl -rotate-45 animate-gradient-scroll-fast;

    background: linear-gradient(
      45deg,
      theme("colors.sona-borahae.400"),
      theme("colors.sona-royalblue.500"),
      theme("colors.sona-borahae.400"),
      theme("colors.sona-royalblue.500")
    );

    background-size: 500% 100%;
  }
}

@keyframes yeet {
  0% {
    -webkit-clip-path: polygon(0 8%, 100% 8%, 100% 0, 0 0);
    clip-path: polygon(0 8%, 100% 8%, 100% 0, 0 0);
  }
  19% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 19%, 0 19%);
    clip-path: polygon(0 80%, 100% 80%, 100% 19%, 0 19%);
  }
  50% {
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
  }
  75% {
    -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 19%, 0 19%);
    clip-path: polygon(0 80%, 100% 80%, 100% 19%, 0 19%);
  }
  100% {
    -webkit-clip-path: polygon(0 8%, 100% 8%, 100% 0, 0 0);
    clip-path: polygon(0 8%, 100% 8%, 100% 0, 0 0);
  }
}
