.form-wrapper {
  @apply mx-auto w-full  md:w-5/6 relative;
}

.form-grid-container {
  @apply grid gap-4 p-8;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "name email"
      "paragraph paragraph"
      "submit submit";
  }

  grid-template-areas:
    "name"
    "email"
    "paragraph"
    "submit";
}

.form {
  :is(&-input-name, &-input-email, &-paragraph-input) {
    @apply px-5 py-3 rounded-md bg-sona-borahaealt-900 bg-opacity-40 w-full outline-none border border-sona-borahaealt-400;
  }
}

.form-input {
  &-name {
    grid-area: name;
  }

  &-email {
    grid-area: email;
  }
}

.form-paragraph-input {
  grid-area: paragraph;
  @apply grid px-5 py-4 w-full resize-none;
}

.error-label {
  @apply text-red-500 font-semibold inline-block my-2;

  .icon {
    @apply mr-2;
  }
}

.form-sub-label {
  @apply italic opacity-60;
}

.form-submit {
  grid-area: submit;
  @apply mt-5 gap-y-4 flex flex-col md:flex-row justify-between;

  button {
    box-shadow: 0 0 2px inherit;
		transition-property: box-shadow, border, background;
		transition-duration: 250ms;

    @apply border border-white px-5 py-3.5 rounded-md w-full md:w-1/6 text-center cursor-pointer font-semibold;

    &:hover {
      @apply border-sona-borahae-600 bg-sona-borahae-600;
      box-shadow: 0 0 32px theme("colors.sona-borahae.800");
    }
  }
}
