*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #202020;
  
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  height: 100vh;
  width: 100%;
}

div,
span,
blockquote {
  display: block;
}

h2 {
  padding: 1rem .25rem;
  position: relative;
  z-index: 100;
  text-shadow: 0 0 12px rgba(black, 50%);
  width: max-content;

  #gradient-block {
    z-index: -1;
    position: absolute;
    top: 30px;
    left: 1px;
    display: block;
    height: 16px;
    width: 100%;
    text-shadow: 0 0 12px rgba(black, 50%);
    background: linear-gradient(45deg, rgb(27,163,171), rgb(92,4,150));
  }
}

h1, h3, h4 {
  padding: .55rem 0;
}

main, footer {
  font-family: 'Ubuntu Mono', 'Roboto Mono', Consolas, monospace;
  color: whitesmoke;
}

section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

footer #wrapper {
  padding: 1.25rem 0;
  text-align: center;
  background: rgba(mix(black, gray, 77%), 55%);
}
