h1, h2, h3, h4 {
  font-family: 'Noto Sans KR', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main, footer {
  font-family: 'Lato', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
}

.vertical-list {
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1rem;
  }
}