@mixin flex_params($hcent: center, $vcent: center, $dir: row) {
  display: -webkit-flex;
  display: flex;
  justify-content: $hcent;
  align-items: $vcent;
  flex-direction: $dir;
}

@mixin list_spacing($width: 15px) {
  li {
    margin-left: $width;
    &:first-child {
      margin-left: 0;
    }
  }
}

@mixin prop_transition($property: all, $time: 300ms) {
  -webkit-transition: $property $time ease;
          transition: $property $time ease;
}

@mixin tooltip_comp {
  &:hover {
    .tooltip {
      filter: opacity(100%);
      opacity: 1;
    }
  }
}