// Skepfusky fursona colors
$skep-blue: rgb(32, 118, 200);
$skep-lightblue: rgb(72, 221, 247);
$skep-yellow: rgb(248, 216, 23);
$skep-borahae: rgb(187, 62, 237);
$skep-peach: rgb(252, 232, 164);
$skep-brown: rgb(111, 58, 15);