//mixins
@mixin flex-params($hcent: center, $vcent: center, $dir: row) {
  display: flex;
  justify-content: $hcent;
  align-items: $vcent;
  flex-direction: $dir;
}

@mixin transition($property: all, $time: 300ms) {
  transition: $property $time ease;
}

// some shit
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  content:'';
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}