@include no-pseudo;

footer {
  margin: 0 auto;
}

#wrapper {
  @include flex-params(unset, center, column);
  min-width: 1280px;
  padding: 1rem;
  background: royalblue;
}

#social-row {
  @include flex-params(center, center, column);
  &::before {
    display: block !important;
    width: 3em;
    height: 3px;
    background: cyan;
    margin-block: 10px;
  }
  @include li-item-spacing(30px);
  font-size: 88%;
  ul {
    @include flex-params(unset, unset, row);
  }

  li {
    @include transition();
    filter: opacity(70%);
    opacity: .7;

    &:hover {
      filter: opacity(100%);
      opacity: 1;
    }
  }
}