@mixin item-center {
  display: flex;
  align-items: center;
}

@mixin item-end {
  display: flex;
  align-items: flex-end;
}

@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin justify-between {
  display: flex;
  justify-content: space-between;
}
