@mixin vflex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flexy-dir($d) {
  @include vflex();
  flex-direction: $d;
}

@mixin flexy-align($v: unset, $h: unset) {
  @include vflex();
  justify-content: $h;
  align-items: $v;
}