@mixin flex-params($hcent: center, $vcent: center, $dir: row) {
  display: flex;
  justify-content: $hcent;
  align-items: $vcent;
  flex-direction: $dir;
}
@mixin no-pseudo {
  *::before, *::after {
    display: none !important;
  }
}
@mixin li-item-spacing($width: 15px) {
  li {
    margin-left: $width;
    &:first-child {
      margin-left: 0;
    }
  }
}

@mixin transition($property: all, $time: 300ms) {
  -webkit-transition: $property $time ease;
          transition: $property $time ease;
}

// some shit
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before, *::after {
  content:'';
  display: block;
}

#app {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

// Header footer stuff
.text-spacing {
  padding-left: 5px;
  position: relative;
  top: -1px;
}

$colors: white;
$font-big-screen: 125%;

header {
  nav {
    color: $colors;
    font-size: $font-big-screen;
  }
}
footer {
  #wrapper {
    color: $colors;
    font-size: $font-big-screen;
  }
}