:root {
  /* Palettes */
  --fursona-blue: #2076c8;
  --fursona-cyan: #48ddf7;
  --fursona-yellow: #f8d817;
  --fursona-peach: #fce392;
  --fursona-peach-eyes: ##ffeecf;
  --fursona-borahae: #bb3eed;
  --fursona-borahae-light: #ffabff;
  --fursona-borahae-alt: #b266ed;

  --light: rgb(245, 245, 245);
  --light-transparent: rgba(245, 245, 245, 0.3);
  --dark: rgb(32, 32, 32);
  --dark-transparent: rgb(32, 32, 32, 0.3);

  /* Variables */
  --backdrop-dark-0: rgba(32, 32, 32, 0);
  --backdrop-dark-1: rgb(32, 32, 32);
  --backdrop-light-0: rgba(235, 235, 235, 0);
  --backdrop-light-1: rgb(240, 240, 240, 0.5);

  --shadow-responsive: var(--dark-transparent);
  --link-hover: var(--fursona-blue);
}

body {
  @media (prefers-color-scheme: dark) {
    --header-backdrop-point-1: var(--backdrop-dark-1);
    --header-backdrop-point-0: var(--backdrop-dark-0);
  }

  --header-backdrop-point-1: var(--backdrop-light-1);
  --header-backdrop-point-0: var(--backdrop-light-0);

  @media (prefers-color-scheme: dark) {
    --color-responsive: var(--light);
    --shadow-responsive: var(--light-transparent);
    --bg-responsive: var(--dark);
    --link-hover: var(--fursona-cyan);
  }

  background-color: var(--bg-responsive);
  color: var(--color-responsive);
  transition: background 300ms ease, color 300ms ease;
}