@use '../util/' as *;

.width-responsive {
  @include md-desktop-devices {
    max-width: $large-desktop-w;
  }

  max-width: $desktop-w;
}

.top-heading {
  text: {
    align: center;
    transform: uppercase;
  }

  font-size: 185%;
}

.p-info {
  @include flexy-dir(column);
  row-gap: .45rem;
}

.theme {
  &-light,
  &-dark {
    transition: all 275ms ease;
  }
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  transition: gap $hover-time ease, padding $hover-time ease;

  @include md-tablet-devices {
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 0;
    padding: 0;
  }

  @include md-phone-devices {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

:root {
  --clickable-link: var(--sf-blue-light-100)
}

$hover-time: 150ms;

a.clickable {
  border-bottom: 2px solid white;
  transition: border $hover-time ease, color $hover-time ease;
  
  &:hover {
    color: var(--clickable-link);
    border-color: var(--clickable-link);
  }
}