@use '../util/' as *;
@use '../styles/palette' as *;

$new: (
    1: darken($sf-borahae, 22%),
    2: darken($sf-borahae, 31%),
  );
  // dark: (
    // 1: darken(gold, 3%),
    // 2: darken(gold, 12%),
  // ),

:root {
  @each $increment, $value in $new {
      --hc-new-#{$increment}: #{$value};
  }
}

.top-heading.spacing-tablet {
  @include md-tablet-devices {
    margin-bottom: 2.5rem;
  }
}

$hover-time: 400ms;

#home-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 1rem;
  padding: 3.25rem;
  transition: gap $hover-time ease, padding $hover-time ease;

  @include md-tablet-devices {
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 0;
    padding: 0;
  }

  @include md-phone-devices {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.home-card-container {
  border-radius: 6px;
  background: linear-gradient(165deg,
      var(--sf-borahae-dark-600),
      var(--sf-blue-dark-400));
  box-shadow: 0 0 16px rgba(black, 45%);
  transform: translateY(0px);
  cursor: pointer;
  transition: transform $hover-time ease, filter $hover-time ease;
  padding-top: 0;
  overflow: hidden;

  @include md-tablet-devices {
    padding-bottom: 1rem;
    box-shadow: none;
    border-radius: 0 !important;
    border-bottom: 2px solid white;
  }

  >* {
    width: 100%;
  }

  &__bg {
    overflow: hidden;
    z-index: 2;
    height: 16rem;
    @include flexy();

    img {
      transform: scale(1);
      @include prop-transition(transform);
    }
  }

  &__sub {
    background-color: black;
    position: relative;
    padding-top: 0.65rem !important;
    padding-bottom: 0.35rem !important;
    padding: 0 0.75rem;
    top: -3px;
    z-index: 1;
    font-size: 88%;

    div {
      @include md-tablet-devices {
        font-size: 120% !important;
      }

      @include flexy(flex-start, center, row);
      column-gap: 0.5rem;
      font-weight: 700;
    }
  }

  &__bg,
  &__sub {
    @include md-tablet-devices {
      border-radius: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0.25rem;
    padding: 0 0.85rem;

    h2 {
      font-size: 127%;
    }

    @include md-tablet-devices {
      padding: 0 12px;
      font-size: 98%;

      h2 {
        font-size: 148%;
      }
    }

    p {
      font-size: 86.7%;
    }
  }

  &:hover {
    transform: translateY(-4px);

    @include md-tablet-devices {
      transform: translateY(0);
    }

    .home-card-container__bg img {
      transform: scale(1.05);

      @include md-tablet-devices {
        transform: scale(1);
      }
    }
  }
}

.home-card-new::before {
  @include pos-a(1rem, unset, 1rem);
  content: 'NEW';
  display: block;  
  background: linear-gradient(95deg,
      var(--hc-new-1),
      var(--hc-new-2)) !important;
  z-index: 3;
  padding: 0.15rem 0.65rem;
  border-radius: 3px;
  font-size: 95%;
  font-weight: 700;
}

// sum content
.id {
  &-series {
    background: darken(royalblue, 21%);
  }

  &-music {
    background: darken(orangered, 25%);
  }

  &-film {
    background: darken(hotpink, 35%);
  }

  &-project {
    background: darken(orchid, 25%);
  }

  &-misc {
    background: darken(gray, 25%);
  }
}