@use '../util/' as *;

$new: (light: (100: darken(gold, 3%),
    200: darken(gold, 12%),
  ),
  dark: (100: darken(gold, 22%),
    200: darken(gold, 31%),
  ),
);

:root {

  @each $theme,
  $value in $new {

    @each $varient,
    $output in $value {
      --hc-new-#{$theme}-#{$varient}: #{$output};
    }
  }
}

.top-heading.spacing-tablet {
  @include md-tablet-devices {
    margin-bottom: 2.5rem;
  }
}

#home-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 2.15rem;
  padding: 3.25rem;

  transition: gap $hover-time ease, padding $hover-time ease;

  @include md-tablet-devices {
    gap: 2.5rem;
    padding: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 0;
    padding: 0;
  }

  @include md-phone-devices {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}

.home-card-container {
  border-radius: 6px;
  padding: 1rem;
  background: linear-gradient(165deg,
      var(--sf-borahae-dark-600),
      var(--sf-blue-dark-400));
  box-shadow: 0 0 16px rgba(black, 45%);
  transform: translateY(0px);
  cursor: pointer;
  transition: transform $hover-time ease, filter $hover-time ease;

  @include md-tablet-devices {
    padding: 0;
    padding-bottom: 1rem;
    box-shadow: none;
    border-radius: 0 !important;
    border-bottom: 2px solid white;
  }

  >* {
    width: 100%;
  }

  &__bg {
    overflow: hidden;
    z-index: 2;
    height: 16rem;
    border-radius: 6px;
    @include flexy();

    img {
      transform: scale(1);
      @include prop-transition(transform);
      // width: auto;
    }
  }

  &__sub {
    background-color: black;
    position: relative;
    padding-top: 0.65rem !important;
    padding-bottom: 0.35rem !important;
    padding: 0 0.75rem;
    top: -3px;
    z-index: 1;
    border-radius: 0 0 6px 6px;
    font-size: 90%;

    div {
      @include md-tablet-devices {
        font-size: 120% !important;
      }

      @include flexy(flex-start, center, row);
      column-gap: 0.5rem;
      font-weight: 700;
    }
  }

  &__bg,
  &__sub {
    @include md-tablet-devices {
      border-radius: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 0.25rem;

    @include md-tablet-devices {
      padding: 0 12px;
      font-size: 98%;

      h2 {
        font-size: 148%;
      }
    }

    p {
      font-size: 88%;
    }
  }

  &:hover {
    transform: translateY(-4px);

    @include md-tablet-devices {
      transform: translateY(0);
    }

    .home-card-container__bg img {
      transform: scale(1.05);

      @include md-tablet-devices {
        transform: scale(1);
      }
    }
  }
}

.append-new::after {
  content: "new";
  opacity: 0.65;
  font-size: 50%;
  position: relative;
  top: -6px;
  padding: 0 3px;
  border: 2px solid white;
  border-radius: 3px;
  margin-left: 0.55rem;

  @include md-tablet-devices {
    margin-left: 0.35rem;
  }
}

.home-card-new {
  background: linear-gradient(95deg,
      var(--hc-new-dark-100),
      var(--hc-new-dark-200)) !important;
}

// sum content
.id {
  &-series {
    background: darken(royalblue, 21%);
  }

  &-music {
    background: darken(orangered, 25%);
  }

  &-film {
    background: darken(hotpink, 35%);
  }

  &-project {
    background: darken(orchid, 25%);
  }

  &-misc {
    background: darken(gray, 25%);
  }
}