# Global .gitignore
node_modules/
.pnp
.pnp.js
.DS_Store
*.pem

# Astro
.astro/
dist/

# Next.js
.next/
out/
build

# typescript
*.tsbuildinfo

# testing
coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
*.env*
.env
.env.production
!.env.example

# turbo
.turbo

# vercel
.vercel
