# Global .gitignore
node_modules/
.pnp
.pnp.js
.DS_Store
*.pem
.fleet
.idea

# Astro
.astro/
dist/

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Logs
logs
*.log

# typescript
*.tsbuildinfo

# testing
coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files
*.env*
.env
.env.production
!.env.example

# turbo
.turbo

# vercel
.vercel
