@mixin blanket($a) {
  @apply absolute left-0 right-0 z-3 w-screen h-[10rem] #{$a} from-borahae-dark;
}

@mixin tempFixForNoScrollBars() {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

#wrapper {
  @apply block relative w-screen overflow-hidden h-[300px];
  perspective: 420px;
}

.gradient-blanket-top {
  @include blanket("top-0 bg-gradient-to-b");
}

.gradient-blanket-bottom {
  @include blanket("bottom-0 bg-gradient-to-t");
}

.skew-pov {
  @apply relative z-1 opacity-50;
  transform: rotateX(62deg);
}

.horizontal-line-wrapper {
  @apply absolute top-0 left-0 right-0 flex justify-center gap-[4.5rem] lg:gap-[7rem] xl:gap-[9rem] h-screen;
  @include tempFixForNoScrollBars();
}

.horizontal-line {
  @apply border-2 border-transparent border-r-sona-borahaealt-500;
}

.vertical-line-wrapper {
  @apply absolute inset-0 flex flex-col gap-[5rem];
  @include tempFixForNoScrollBars();
  animation: scrollBaby 2.5s linear infinite;
}

@keyframes scrollBaby {
  from {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(5.25rem);
  }
}

.vertical-line {
  @apply border-2 border-transparent border-b-sona-borahaealt-500;
}
