@use "mixins" as *;
@use "variables" as *;

/*******************
 * Main navbar
 *******************/

$header-default: 6.4rem;
$header-expand: 5.6rem;

$padding-default: 2.2rem;
$padding-expand: 1.75rem;

header {
  @apply w-viewport fixed flex justify-between top-0 z-1 bg-neutral-900 md:bg-transparent h-[#{$header-default}];
  transition: background 300ms ease, height 300ms ease;

  &::before {
    content: "";
    @apply bg-transparent absolute top-[2.5rem] left-[.9rem] transition-all duration-300 h-12 w-12 rounded-md;
  }

  --bg-header-active: rgb(13, 13, 13, 0.8);
}

.gradient-toggle {
  @apply bg-neutral-900 h-[#{$header-expand}];
}

.header-logo {
  @apply py-5 pr-0 flex justify-center items-center gap-x-4 relative w-[16rem] md:w-[13.5rem];

  &:hover {
    text-shadow: 0 0 24px #fff;

    #site-wordmark span:not(#only-highlightable) {
      @apply text-white;
    }
  }
}

#site-wordmark span:not(#only-highlightable) {
  @apply text-gray-500 transition-colors duration-300 font-ubuntu-mono;
}

#only-highlightable {
  @apply text-2xl pl-0 transition-all duration-300 select-none  mx-0.5;
  background: linear-gradient(180deg, rgb(155, 33, 255) 0%, rgba(20, 163, 255, 0.75) 40%, #fff 50%, #fff 100%);
  background-size: 100% 250%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-position: bottom;
}

.header-active {
  &::before {
    content: "";
    @media only screen and (max-width: 768px) {
      background: rgba(249, 41, 41);
      @apply absolute top-[1.7rem] left-[.9rem] h-12 w-12 rounded-md;
    }
  }
}

.gradient-toggle.header-active {
  &::before {
    @apply absolute top-[1.4rem] left-[.9rem] h-12 w-12 rounded-md;
  }

  #only-highlightable {
    @media only screen and (max-width: 768px) {
      background-position: bottom;
    }
  }
}

.gradient-toggle {
  button#burger-menu {
    @apply py-[#{$padding-expand}];
  }
}

#burger-menu {
  @apply absolute top-[4px] left-1 px-7 py-[#{$padding-default}] transition-all duration-[320ms] block md:hidden;
}

.burger-active {
  transform: rotate(90deg);
}

.header-nav {
  @apply select-none hidden md:flex items-center h-[#{$header-default}] pr-10 gap-x-4;
  transition: height 200ms ease;

  &-item {
    @apply relative cursor-pointer p-4 text-lg;

    :is(a, span) {
      @apply relative;
    }

    > :is(a, span)::before {
      content: "";
      @apply absolute -bottom-3 h-[3px] w-full;
      background: linear-gradient(90deg, rgb(155, 33, 255) 0%, rgba(20, 163, 255, 0.75) 40%, #0000 50%, #0000 100%);
      background-size: 250% 100%;
      background-position: right;
      transition: background-position 300ms ease;
    }

    &:hover > :is(a, span)::before {
      background-position: left;
    }
  }
}

.gradient-toggle nav.header-nav {
  @apply h-[#{$header-expand}];
}

#theme-toggle {
  @apply p-2;
}

/*******************
 * Dropdown
 *******************/
.header-nav-item {
  &:hover .dropdown {
    @apply top-[3.75rem] opacity-100 pointer-events-auto;
  }

  &:first-child .dropdown {
    transform: translateX(10rem);
  }

  &:nth-child(2) .dropdown {
    @apply translate-x-9;
  }

  &:last-child .dropdown {
    @apply translate-x-1;
  }
}

.dropdown {
  @apply absolute right-0 top-[4.5rem] py-3 px-2 bg-neutral-900 opacity-0 pointer-events-none rounded-md transition-all duration-300 cursor-auto w-max flex gap-x-2 shadow-md;

  &-item {
    @apply flex flex-col gap-y-0.5;

    strong {
      @apply mx-2;
    }

    a {
      @apply flex items-center px-2 py-1 rounded-md;

      &:hover {
        @apply bg-neutral-50 bg-opacity-25;
      }
    }

    img {
      @apply w-7 h-7 rounded-full;
    }
  }
}

/*******************
 * Big toggle menu
 *******************/
#toggle-menu-container {
  @apply h-viewport fixed top-0 w-full -z-1 duration-[250ms] overflow-auto select-none block md:hidden;
}

@supports (backdrop-filter: blur(6px)) {
  #toggle-menu-container {
    backdrop-filter: blur(6px);
  }
}

$menu-toggle: translateY(4rem);
$menu-toggle-active: translateY(1.2rem);

.toggled-menu {
  &-open {
    @apply pointer-events-auto;
    background: var(--bg-header-active);
  }

  &-closed {
    @apply opacity-0 pointer-events-none;

    > #toggle-menu-wrapper {
      transform: $menu-toggle;
      opacity: 0;

      @media (min-width: 768px) {
        transform: $menu-toggle;
        opacity: 0;
      }
    }
  }
}

#toggle-menu-wrapper {
  @apply my-0 mx-auto px-6 max-w-screen-xl flex flex-col transition-all duration-[420ms];
  transform: $menu-toggle-active;
  opacity: 1;
  transition: transform 320ms, opacity 320ms;
  transition-delay: 150ms !important;
  height: calc(100vh - 3.5rem);

  > h2 {
    @apply text-center mt-3 mb-6 md:my-3;
  }

  h2,
  h3 {
    @apply cursor-default;
  }
}

/*******************
 * Menu contents
 *******************/

#toggle-nav {
  &-menu {
    @apply grid grid-flow-col gap-2;
  }
}

#nav-item {
  @apply flex flex-col items-center p-3 rounded-md font-semibold;

  $nav-colors: (1 "bg-red-600", 2 "bg-lemon-600", 3 "bg-borahae-500", 4 "bg-royalblue-400");

  @each $i, $color in $nav-colors {
    &:nth-child(#{$i}) {
      @apply #{$color} bg-opacity-25;

      #nav-icon {
        @apply #{$color};
      }
    }
  }
}

#nav-icon {
  @apply p-4 rounded-md;
}
