@use "mixins" as *;

header {
  @apply fixed top-0 z-1 transition-all duration-[420ms] bg-neutral-900;
  width: 100vw;

  &::before {
    content: "";
    @apply bg-transparent absolute top-[1.5rem] left-[.9rem] transition-all duration-300 h-12 w-12 rounded-md;
  }

  @media (min-width: 768px) {
    width: 13.5rem;
  }

  --bg-header-active: rgb(13, 13, 13, 0.8);
}

#site-wordmark {
  @apply text-2xl pl-0 md:pl-14 transition-all duration-300 select-none bg-bottom;
  background: linear-gradient(180deg, rgb(155, 33, 255) 0%, rgba(20, 163, 255, 0.75) 40%, #fff 50%, #fff 100%);
  background-size: 100% 250%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #0000;
  background-position: bottom;
}

.header-active {
  background: #0000;
  &::before {
    content: "";
    background: rgba(249, 41, 41);
    @apply absolute top-[.75rem] left-[.9rem] h-12 w-12 rounded-md;
  }

  #site-wordmark {
    @apply opacity-0 pointer-events-none -translate-y-7;
  }
}

.gradient-toggle.header-active {
  #site-wordmark {
    @media only screen and (max-width: 768px) {
      background-position: bottom;
    }
  }
}

.wrapper-interactive {
  @apply p-5 flex justify-center items-center gap-x-4 relative;
}

#burger-menu {
  @apply absolute top-[4px] left-1 px-7 py-5 transition-all duration-[320ms];
}

.burger-active {
  transform: rotate(90deg);
}

/** Big toggle menu **/
#toggle-menu-container {
  @apply fixed top-0 w-full -z-1 duration-[250ms] overflow-auto select-none;
  height: 100vh;
}

@supports (backdrop-filter: blur(6px)) {
  #toggle-menu-container {
    backdrop-filter: blur(6px);
  }
}

$menu-toggle: translateY(4rem);
$menu-toggle-active: translateY(1.2rem);

.toggled-menu {
  &-open {
    @apply pointer-events-auto;
    background: var(--bg-header-active);
  }

  &-closed {
    @apply opacity-0 pointer-events-none;

    > #toggle-menu-wrapper {
      transform: $menu-toggle;
      opacity: 0;

      @media (min-width: 768px) {
        transform: $menu-toggle;
        opacity: 0;
      }
    }
  }
}

#toggle-menu-wrapper {
  @apply my-0 mx-auto px-6 max-w-screen-xl flex flex-col transition-all duration-[420ms];
  transform: $menu-toggle-active;
  opacity: 1;
  transition: transform 320ms, opacity 320ms;
  transition-delay: 150ms !important;

  @media (min-width: 768px) {
    transform: $menu-toggle-active;
    opacity: 1;
  }

  hr {
    @apply border-b-2 my-3 border-borahae-400;
    border-style: solid;
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  > h2 {
    @apply text-center mt-3 mb-6 md:my-3;
  }

  h2,
  h3 {
    @apply cursor-default;
  }
}

#toggle-nav {
  &-menu {
    @apply grid grid-flow-col gap-5;
  }
}

#nav-item {
  @apply flex flex-col items-center;
}

#nav-icon {
  @apply p-4 rounded-md;
}

#desktop-esc-info {
  @apply transition-all duration-[250ms] text-neutral-200 flex justify-center items-center;
}

#toggle-lower-third {
  @apply text-base mt-5;
}

#theme-toggle {
  @apply px-4 py-2 border-white border-2 rounded-md;
}
