@use "variables" as *;

@mixin gradient-hover($pos: right) {
  background: linear-gradient(90deg, rgb(155, 33, 255) 0%, rgba(20, 163, 255, 0.75) 40%, #0000 50%, #0000 100%);
  background-size: 250%;
  background-position: $pos;
  transition: background-position 300ms ease;
}

@mixin skeletonSwipe($bg-size: 400px) {
  background: linear-gradient(
    110deg,
    rgba(9, 9, 9, 0.52) 0%,
    rgba(9, 9, 9, 0.52) 35%,
    rgba(120, 120, 120, 0.52) 50%,
    rgba(9, 9, 9, 0.52) 65%,
    rgba(9, 9, 9, 0.52) 100%
  );
  animation: skeletionSwipe 1.5s linear infinite;
  background-size: $bg-size;

  @keyframes skeletionSwipe {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
}