$royalblue: #2076c5;
$cyan: #48ddf7;
$pale: #fce392;
$lemon: #f8d817;
$borahae: #bb3eed;
$borahae-alt: #b266ed;
$borahae-light: #ffabff;
$brown: #6f3a0f;

$bg-violet-highlight: rgb(49, 41, 67);

$main-bg: #211E23;
$main-fg: #f5f5f5;