.wrapper {
  @apply border-2 border-sona-borahaealt-500 rounded-md flex flex-col gap-y-1;
	@apply px-5 py-4;
	@apply 2xl:px-7 2xl:py-6;

  p {
    @apply mb-auto text-left 2xl:text-lg 2xl:leading-[1.9rem];
  }
}

.heading {
  @apply text-left 2xl:text-4xl;
}

.heading-inline {
  @apply w-fit px-1 inline text-left;
  background-image: linear-gradient(
    45deg,
    theme("colors.sona-royalblue.700"),
    theme("colors.sona-borahaealt.700")
  );

  background-repeat: no-repeat;
  background-size: 100% 32%;
  background-position: 0 88%;
}

.separator {
  @apply border border-sona-borahaealt-700 w-[20%] mr-auto my-1;
}
