.heading-wrapper {
  @apply max-w-[1200px] 2xl:max-w-screen-2xl mx-auto mt-6 py-5 text-center;
  @apply text-5xl;
}

.wrapper {
  composes: wrapper from "./Hero.module.scss";
  @apply max-w-[1200px] 2xl:max-w-screen-2xl;
  --left-col: 1/5;
  --right-col: 5/9;

  --extrude-pos: 2.25rem;
  --extrude-pos-hidden: calc(var(--extrude-pos) / 2);
}

.container {
	@apply mt-[8rem] flex flex-col gap-[12.5rem];
}

#hobby-section {
  &-hidden {
    --extrude-state: var(--extrude-pos-hidden);
  }

  --extrude-state: var(--extrude-pos);

  @apply grid gap-5 items-center;
  grid-template-columns: repeat(8, 1fr);

  .hs-container {
    grid-column: var(--left-col);
  }

  .gradient-border {
    transition-property: top, left, bottom, right;
    transition-duration: 350ms;

    top: var(--extrude-state);
    left: calc(var(--extrude-state) * -1);
    bottom: calc(var(--extrude-state) * -1);
    right: var(--extrude-state);
  }

  > article {
    grid-column: var(--right-col);
  }

  &:nth-child(even) {
    @apply grid-flow-dense;

    .hs-container {
      grid-column: var(--right-col);
    }

    .gradient-border {
      top: var(--extrude-state);
      left: var(--extrude-state);
      bottom: calc(var(--extrude-state) * -1);
      right: calc(var(--extrude-state) * -1);
    }

    > article {
      grid-column: var(--left-col);
    }

		.caption {
			@apply left-[3.25rem];
		}
  }

  * {
    @apply transition-all duration-[320ms];
  }
}

.hs-container {
  @apply relative;

  &:hover {
    img {
      @apply scale-[1.03];
    }

		.blend-on-hover {
			@apply opacity-100;
		}
  }
}

.hs-img-wrapper {
  @apply relative z-2 w-full h-[375px] overflow-hidden rounded-md;
}

.blend-on-hover {
  @apply opacity-0 absolute inset-0 block bg-gradient-to-tr from-sona-skycyan-500 to-sona-yellow-500 z-3 mix-blend-overlay;
}

.caption {
	@apply relative z-1 top-2.5;
}

.gradient-border {
  @apply rounded-md absolute inset-0;
  background-color: var(--root-theme);

  &::before {
    @apply content-[""] rounded-[inherit] absolute -z-1 inset-0 -m-[2px] bg-gradient-to-tr from-sona-yellow-600 to-sona-royalblue-400;
  }
}
