.wrapper {
  composes: wrapper from "./Hero.module.scss";
}

.item {
  @apply relative py-4 px-6 rounded-md text-left bg-neutral-800 border border-transparent transition-colors overflow-hidden;


	&:hover {
		@apply border-sona-skycyan-700;
	}

  &::before {
    @apply content-[""] absolute -left-0.5 top-1.5 w-[17rem] h-16 opacity-50 duration-500 blur-xl rounded-full;
    transition-property: width, background;
  }

  > * {
    @apply relative z-1;
  }
}

.item-selected {
  @extend .item;
	@apply cursor-default border-sona-royalblue-500;

	&:hover {
		@apply border-sona-royalblue-500;
	}

  &::before {
    @apply bg-sona-royalblue-500 w-[22rem];
  }
}

:is(.vc-visible, .vc-out, .vc-in) {
  transition-property: opacity, transform;
  transition-duration: 250ms;
}

.vc {
  &-visible {
    @apply opacity-100 translate-y-0;
  }

  &-out {
    @apply opacity-0 translate-y-4;
  }

  &-in {
    @apply opacity-0 -translate-y-5;
  }
}

#content {
  @apply p-3 pt-5 text-center flex flex-col gap-y-1.5;
}
