.wrapper {
  composes: wrapper from "./Hero.module.scss";
  @apply flex mt-[7rem] gap-x-10 items-center;

  h1 {
    @apply text-5xl;
  }
}

.content-wrapper {
  @apply flex flex-col;

  article {
    * {
      @apply pb-5;
    }

    > p {
      @apply text-base xl:text-lg;
    }
  }
}

.list {
  @apply pb-6 rounded-xl flex flex-col gap-y-4;
}

#yt-player-section {
  @apply flex flex-col items-center;

  &[data-player-loaded="true"] .play-notice {
    @apply -translate-y-9 -mb-9 pb-3 opacity-0 pointer-events-none;
  }
}

.play-notice {
  @apply pt-3 text-neutral-300 uppercase text-sm duration-300 flex gap-x-2.5 items-center cursor-pointer;
  transition-property: transform, margin, opacity;
}

#content {
  @apply p-3 text-center flex flex-col gap-y-1.5;
}

/*****/

.item {
  @apply relative py-4 px-6 rounded-md text-left bg-neutral-900 transition-colors;

  &::before {
    @apply content-[""] absolute -left-2 top-1.5 w-[17rem] h-16 opacity-50 duration-500 blur-xl rounded-full;
    transition-property: width, background;
  }

  > * {
    @apply relative z-1;
  }

  &::after {
    @apply content-[""] -z-1 rounded-md absolute inset-0 block border-2 border-sona-royalblue-600 transition-all duration-300;
  }

  &:hover::after {
    @apply -inset-1.5;
  }
}

.item-selected {
  @extend .item;
  @apply cursor-default;

  &::before {
    @apply bg-sona-royalblue-500 w-[22rem];
  }

  &::after {
    @apply -inset-1.5 border-sona-royalblue-700;
  }
}

:is(.vc-visible, .vc-out, .vc-in) {
  @apply relative;
  transition-property: opacity, top, transform;
  transition-duration: 250ms;
}

.vc {
  &-visible {
    @apply opacity-100 top-0;
  }

  &-out {
    @apply opacity-0 top-5;
  }

  &-in {
    @apply opacity-0 -top-10;
  }
}
