$large-desktop-w: 1600px;
$desktop-w: 1280px;

$desktop-fs: 1.15rem;
$laptop-fs: 1rem;

$hover-time: 300ms;

$menus: "discography",
"portfolio",
"about";

$width-squish: "large-desktop"$large-desktop-w,
"desktop"$desktop-w;

@each $desktop,
$width in $width-squish {
  .w-#{$desktop} {
    margin: 0 auto;
    max-width: $width;
  }
}