@use "colors" as *;

[sf-theme="dark"] {
	--theme-cards: #{$bg-violet-highlight};
	--dropdown-bg: #1c1a1e;
  --dropdown-item-bg: rgb(232 231 233 / 25%);

	background-color: var(--theme-bg-dark);
	color: var(--theme-fg-dark);

	.layout-seperator,
	.layout-clip {
		--bg-layout-seperator: #{lighten($main-bg, 4%)};
	}
}
