@use "colors" as *;

[sf-theme="light"] {
	--theme-cards: rgb(220, 212, 239);
	--bg-dropdown: #d4d2d6;

	background-color: var(--theme-bg-light);
	color: var(--theme-fg-light);

	.layout-seperator,
	.layout-clip {
		--bg-layout-seperator: #{darken($main-fg, 6.5%)};
	}

	.dropdown {
		a:hover {
			@apply bg-neutral-300 bg-opacity-25;
		}
	}
}
