:is(.vaporwave-wrap, .vaporwave) {
	@apply transition-all duration-700;
}

.vaporwave-wrap {
  perspective: var(--grid-perspective, 320px);
}

.vaporwave {
  transform: var(--grid-transform, rotateX(45deg));
}

.scroll-rows {
  --scroll-initial: -60px;
  animation: scroll 21s linear infinite reverse;
  animation-play-state: var(--scroll-animation-state, running);
}

@keyframes scroll {
  from {
    top: var(--scroll-initial);
  }

  to {
    top: var(--calculated);
  }
}
