@import "tailwindcss";

@theme {
  --font-kuro-hero-heading: "Unbounded", var(--default-font-family);
  --font-kuro-body: "Inter", var(--default-font-family);
  --font-kuro-mono: "JetBrains Mono", var(--default-mono-font-family);

  --color-kuro-dark1: #110D17;
  --color-kuro-dark2: #07070b;

  --color-kuro-royalblue-50: #E4F0FB;
  --color-kuro-royalblue-100: #CEE4F8;
  --color-kuro-royalblue-200: #9DC8F0;
  --color-kuro-royalblue-300: #6CADE9;
  --color-kuro-royalblue-400: #3D92E1;
  --color-kuro-royalblue-500: #2076C5;
  --color-kuro-royalblue-600: #195E9F;
  --color-kuro-royalblue-700: #124778;
  --color-kuro-royalblue-800: #0D3254;
  --color-kuro-royalblue-900: #061A2D;

  --color-kuro-skycyan-50: #EBFCFE;
  --color-kuro-skycyan-100: #DCF9FE;
  --color-kuro-skycyan-200: #B5F2FD;
  --color-kuro-skycyan-300: #92ECFB;
  --color-kuro-skycyan-400: #6CE4F9;
  --color-kuro-skycyan-500: #48DDF7;
  --color-kuro-skycyan-600: #09D2F6;
  --color-kuro-skycyan-700: #06A0BC;
  --color-kuro-skycyan-800: #046E80;
  --color-kuro-skycyan-900: #023741;

  --color-kuro-yellow-50: #FFFBE6;
  --color-kuro-yellow-100: #FEF8D2;
  --color-kuro-yellow-200: #FDEFA0;
  --color-kuro-yellow-300: #FCE873;
  --color-kuro-yellow-400: #FADF42;
  --color-kuro-yellow-500: #F8D817;
  --color-kuro-yellow-600: #D1B205;
  --color-kuro-yellow-700: #A08803;
  --color-kuro-yellow-800: #695A02;
  --color-kuro-yellow-900: #372F01;

  --color-kuro-violet-50: #F9ECFE;
  --color-kuro-violet-100: #F2D9FC;
  --color-kuro-violet-200: #E4AFF8;
  --color-kuro-violet-300: #D789F5;
  --color-kuro-violet-400: #C964F1;
  --color-kuro-violet-500: #BB3EED;
  --color-kuro-violet-600: #A313DC;
  --color-kuro-violet-700: #7A0DA5;
  --color-kuro-violet-800: #50096C;
  --color-kuro-violet-900: #2A0439;

  --color-kuro-lavender-50: #F8F1FE;
  --color-kuro-lavender-100: #EFDFFC;
  --color-kuro-lavender-200: #E1C3F9;
  --color-kuro-lavender-300: #D2A3F5;
  --color-kuro-lavender-400: #C183F1;
  --color-kuro-lavender-500: #B266ED;
  --color-kuro-lavender-600: #9427E7;
  --color-kuro-lavender-700: #7113B9;
  --color-kuro-lavender-800: #4C0D7D;
  --color-kuro-lavender-900: #25063C;

  --color-kuro-magenta-50: #FFF5FF;
  --color-kuro-magenta-100: #FFF0FF;
  --color-kuro-magenta-200: #FFDBFF;
  --color-kuro-magenta-300: #FFCCFF;
  --color-kuro-magenta-400: #FFBDFF;
  --color-kuro-magenta-500: #FFABFF;
  --color-kuro-magenta-600: #FF57FF;
  --color-kuro-magenta-700: #FF00FF;
  --color-kuro-magenta-800: #A800A8;
  --color-kuro-magenta-900: #570057;
}