@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply h-2 w-2;

    &-thumb {
      @apply rounded-[0.45rem] bg-purple-800 border-[10px] border-neutral-900;
    }

    &-track {
      @apply bg-borahae-dark;
    }
  }

  ::selection {
    @apply bg-sona-borahae-600 text-neutral-50;
  }

  html {
    @apply scroll-smooth scroll-pt-[10.85rem] antialiased;

    scrollbar-color: theme("colors.sona-borahae.600"),
      theme("colors.borahae-dark");
  }

  body {
    @apply font-open-sans text-neutral-50 bg-borahae-dark;

    * {
      // outline: 2px solid cyan;
    }
  }

  @each $i, $s in [ 1 "4xl", 2 "3xl", 3 "2xl", 4 "xl", 5 "lg" ] {
    h#{$i} {
      @apply font-semibold font-inter text-#{$s};
    }
  }
}

@layer components {
  .scrollbar-none {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .vaporwave-wrap {
    perspective: 320px;
  }

  .vaporwave {
    transform: rotateX(45deg);
  }

  .scroll-rows {
    animation: scroll 25s linear infinite reverse;
		animation-play-state: var(--scroll-animation-state, running);
  }

  @keyframes scroll {
    from {
      @apply top-0;
    }

    to {
      @apply -top-[765px];
    }
  }
}
