@import 'https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap';

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: #202020;
  color: #f5f5f5;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

main {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0.25rem 0.75rem;
}