@import "tailwindcss";

@theme {
  --font-kuro-hero-heading: "Unbounded", var(--default-font-family);
  --font-kuro-body: "Inter", var(--default-font-family);
  --font-kuro-mono: "Azeret Mono Variable", var(--default-mono-font-family);

  --color-kuro-dark1: #110d17;
  --color-kuro-dark2: #07070b;

  --color-kuro-royalblue-50: #e4f0fb;
  --color-kuro-royalblue-100: #cee4f8;
  --color-kuro-royalblue-200: #9dc8f0;
  --color-kuro-royalblue-300: #6cade9;
  --color-kuro-royalblue-400: #3d92e1;
  --color-kuro-royalblue-500: #2076c5;
  --color-kuro-royalblue-600: #195e9f;
  --color-kuro-royalblue-700: #124778;
  --color-kuro-royalblue-800: #0d3254;
  --color-kuro-royalblue-900: #061a2d;

  --color-kuro-skycyan-50: #ebfcfe;
  --color-kuro-skycyan-100: #dcf9fe;
  --color-kuro-skycyan-200: #b5f2fd;
  --color-kuro-skycyan-300: #92ecfb;
  --color-kuro-skycyan-400: #6ce4f9;
  --color-kuro-skycyan-500: #48ddf7;
  --color-kuro-skycyan-600: #09d2f6;
  --color-kuro-skycyan-700: #06a0bc;
  --color-kuro-skycyan-800: #046e80;
  --color-kuro-skycyan-900: #023741;

  --color-kuro-yellow-50: #fffbe6;
  --color-kuro-yellow-100: #fef8d2;
  --color-kuro-yellow-200: #fdefa0;
  --color-kuro-yellow-300: #fce873;
  --color-kuro-yellow-400: #fadf42;
  --color-kuro-yellow-500: #f8d817;
  --color-kuro-yellow-600: #d1b205;
  --color-kuro-yellow-700: #a08803;
  --color-kuro-yellow-800: #695a02;
  --color-kuro-yellow-900: #372f01;

  --color-kuro-violet-50: #f9ecfe;
  --color-kuro-violet-100: #f2d9fc;
  --color-kuro-violet-200: #e4aff8;
  --color-kuro-violet-300: #d789f5;
  --color-kuro-violet-400: #c964f1;
  --color-kuro-violet-500: #bb3eed;
  --color-kuro-violet-600: #a313dc;
  --color-kuro-violet-700: #7a0da5;
  --color-kuro-violet-800: #50096c;
  --color-kuro-violet-900: #2a0439;

  --color-kuro-lavender-50: #f8f1fe;
  --color-kuro-lavender-100: #efdffc;
  --color-kuro-lavender-200: #e1c3f9;
  --color-kuro-lavender-300: #d2a3f5;
  --color-kuro-lavender-400: #c183f1;
  --color-kuro-lavender-500: #b266ed;
  --color-kuro-lavender-600: #9427e7;
  --color-kuro-lavender-700: #7113b9;
  --color-kuro-lavender-800: #4c0d7d;
  --color-kuro-lavender-900: #25063c;

  --color-kuro-magenta-50: #fff5ff;
  --color-kuro-magenta-100: #fff0ff;
  --color-kuro-magenta-200: #ffdbff;
  --color-kuro-magenta-300: #ffccff;
  --color-kuro-magenta-400: #ffbdff;
  --color-kuro-magenta-500: #ffabff;
  --color-kuro-magenta-600: #ff57ff;
  --color-kuro-magenta-700: #ff00ff;
  --color-kuro-magenta-800: #a800a8;
  --color-kuro-magenta-900: #570057;
}
