@use "main" as *;
@use "themes" as *;
@use "partials" as *;

:root {
	--theme-black: #{$main-bg};
	--theme-white: #{$main-fg};

	--theme-bg-dark: var(--theme-black);
	--theme-fg-dark: var(--theme-white);

	--theme-bg-light: var(--theme-white);
	--theme-fg-light: var(--theme-black);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
