@use "partials/variables" as *;
@use "partials/mixins" as *;

/*** Hero stuff  ***/
.hero {
	&-header {
		@apply h-viewport w-full flex gap-6 items-center justify-between mx-auto my-0;

		max-width: 1440px;

		@media only screen and (max-width: 1540px) {
			max-width: 1280px;
		}

		@media only screen and (max-width: 1380px) {
			max-width: 1024px;
		}

		@media only screen and (max-width: 1220px) {
			@apply flex-col-reverse gap-0 justify-center;
		}
	}

	&-parallax-container {
		@apply absolute -left-14 z-3 flex items-center;

		@media only screen and (max-width: 1220px) {
			@apply left-[5.65rem];
		}
	}

	&-parallax-avatar {
		@apply relative h-[21rem] w-[21rem] z-1 flex flex-col-reverse;
	}

	&-parallax-bg {
		@apply absolute -left-14 h-[21rem] w-[21rem] rounded-full bg-stone-700;

		@media only screen and (max-width: 1220px) {
			@apply left-[5.65rem];
		}
	}

	&-contents {
		@apply flex flex-col gap-y-5;

		@media only screen and (max-width: 1220px) {
			@apply text-center items-center;
		}

		article {
			@apply w-[70%] text-lg lg:text-xl;
		}
	}
}

.artwork-container {
	@apply relative h-[23rem] w-[23rem];

	@media only screen and (max-width: 1540px) {
		@apply -translate-x-[2rem];
	}

	@media only screen and (max-width: 1380px) {
		@apply -translate-x-[4.75rem];
	}
}

.artwork-sublabel {
	@apply translate-y-8 text-base opacity-50 hover:opacity-100 transition-opacity cursor-default w-[25.5rem] -translate-x-9;

	@media only screen and (max-width: 1220px) {
		@apply -translate-x-9 text-center;
	}
}

/*** Sections and Seperators ***/
.section {
	@apply flex p-4;

	&:not(.section-row) {
		@apply flex-col;
	}
}

.section-row {
	@apply flex flex-col lg:flex-row justify-around gap-x-4;
}

.seperator {
	@apply w-full;
}

.section-header {
	@apply mb-4 mt-1 flex flex-col gap-3 items-center md:items-start;

	h3 {
		@apply uppercase flex flex-col md:flex-row text-center md:text-left;

		&::before {
			content: var(--emoji-key, "😳");
			@apply rounded-full bg-borahaealt-500 bg-opacity-25  md:bg-transparent mx-auto px-3 py-[0.90rem] md:px-1 md:py-0.5 text-4xl md:text-lg mb-2 md:mb-0 text-center md:text-inherit;
		}
	}
}

#skill-item {
	@apply cursor-default p-0.5 px-3 rounded-md bg-borahae-700 uppercase whitespace-nowrap text-[88%];
}

#scroll-down {
	@apply absolute bottom-0 left-0 right-0 select-none w-full flex flex-col items-center py-5 transition-opacity duration-200 ease-in-out;
}

/** Project **/

#showcase {
	@apply grid relative gap-4 text-center;
	z-index: 0;
	grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));

	@media only screen and (min-width: 576px) {
		grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	}

	@media only screen and (max-width: 836px) {
		@apply translate-x-1;
	}
}

@mixin feature-cards {
	@apply p-4 relative top-0 left-0 flex flex-col gap-y-0.5 rounded-md mb-4 mr-4 cursor-default select-none;
	transition: top 300ms ease, left 300ms ease;
	background: var(--theme-cards);

	&::before {
		content: "";
		@apply block absolute -z-1 inset-0 transition-all duration-300;
		transform: translate(0.88rem, 0.88rem);
		background: linear-gradient(
			to right,
			rgba(0, 77, 140, 0.66),
			rgba(125, 5, 141, 0.66)
		);
		border-radius: inherit;
	}

	&:hover {
		@apply -top-[0.25rem] -left-[0.25rem];
	}

	&:hover::before {
		@apply brightness-[165%] translate-x-[1.33rem] translate-y-[1.33rem];
	}
}

.featured-project {
	&-card {
		@include feature-cards();

		p {
			@apply h-full mb-2 leading-7;
		}
	}

	&-image img {
		box-shadow: 2px 5px 22px rgba(black, 40%);
		@apply my-0 mx-auto w-[9rem] md:w-[8.5rem] mb-1 rounded-full;
	}
}

.featured-project-loading {
	&-card {
		@include feature-cards();
		@apply items-center gap-y-3;
	}

	&-image {
		@apply w-[9rem] h-[9rem] md:h-[8.5rem] md:w-[8.5rem] mb-1 rounded-full;
		@include skeletonSwipe(750px);
	}

	&-title,
	&-description {
		@apply block text-center h-6 rounded-md;
		@include skeletonSwipe(700px);
	}

	&-title {
		@apply w-[60%];
	}

	&-description {
		@apply w-[30%];
	}
}
