#hero {
  // @apply h-screen;

  .container {
    @apply flex items-start justify-center p-6 text-center text-5xl md:text-6xl select-none;
  }
}

.text {
  @apply font-inter font-bold text-transparent h-[4.2rem];

  background: linear-gradient(
    90deg,
    theme("colors.sona-borahae.600"),
    theme("colors.sona-royalblue.500"),
    theme("colors.sona-borahae.600"),
    theme("colors.sona-royalblue.500")
  );

  background-size: 300% 100%;
  animation: gradientScroll 10s linear infinite;
  @apply bg-clip-text #{!important};
}

@keyframes gradientScroll {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.responsive-grid {
  @apply grid gap-3;
  grid-template-columns: repeat(auto-fit, minmax(24.5rem, 1fr));
}

.other-items-grid {
  @apply grid grid-cols-1 gap-3;

  @media only screen and (min-width: 960px) {
    @apply grid-cols-3;
  }

  .item {
    @apply flex flex-col bg-neutral-500 rounded-md overflow-hidden border-2 border-neutral-300 select-none;
    box-shadow: 4px 4px 0 theme("colors.neutral.300");

    article {
      @apply p-4 flex flex-col justify-center;
    }

    &:hover {
      .img-wrapper img {
        @apply scale-105;
      }
    }
  }

  .img-wrapper {
    @apply flex-shrink-0 relative h-[200px] w-full;

    img {
      @apply transition-all duration-300;
    }
  }
}
