#hero {
  @apply h-screen flex flex-col items-center justify-center overflow-x-hidden;

  .container {
    @apply flex items-center p-6 text-center text-5xl md:text-6xl select-none opacity-0 transition-opacity duration-[750ms];
  }

  .container-loaded {
    @extend .container;
    @apply opacity-100;
  }
}

.fursona {
  @apply absolute overflow-x-hidden inset-0 -z-1 flex overflow-y-hidden justify-center items-center opacity-[32%] transition-all duration-[1s] before:content-[""] before:opacity-25 before:inset-0 before:absolute before:bg-gradient-to-bl before:from-sona-pale-800 before:via-sona-borahae-600 before:to-sona-borahaealt-800;

  .fursona-img-wrapper {
    @apply opacity-0 -top-6;
    transition: opacity 650ms, top 650ms;
  }
}

.fursona-loaded {
  @extend .fursona;

  .fursona-img-wrapper {
    @apply opacity-100 top-6 relative lg:h-[50rem] lg:w-[50rem] md:h-[42rem] md:w-[42rem] h-[32rem] w-[32rem];
  }
}

.text {
  @apply lg:text-[5rem] lg:h-[86px] h-[60px] inline-block md:translate-y-1 translate-y-3 font-inter font-bold text-transparent animate-gradient-scroll;

  background: linear-gradient(
    90deg,
    theme("colors.sona-borahae.600"),
    theme("colors.sona-royalblue.500"),
    theme("colors.sona-borahae.600"),
    theme("colors.sona-royalblue.500")
  );

  @apply bg-clip-text;
  background-size: 300% 100%;
}

.bio {
  @apply flex flex-col items-center gap-y-5 text-center px-10 opacity-0 transition-all duration-[750ms] ease-out;

  p {
    @apply leading-[0rem] transition-[line-height] duration-[750ms] ease-out;
  }

  .heading {
    @apply text-xl w-[70%] inline-block;
  }
}

.bio-loaded {
  @extend .bio;
  @apply opacity-100;

  p {
    @apply leading-[3rem];
  }
}

.socials {
  @apply flex gap-x-9;
}

.buttons {
  @apply flex gap-x-2 -translate-y-1;

  .btn-item {
    @apply shadow-none border-none;
  }
}