@use "partials/variables" as *;

#wrapper {
	@apply flex flex-col items-center justify-center;
	height: calc(100vh - 5.8rem);
	overflow: hidden !important;
}

.glitch-text {
	@apply text-borahae-100;
	@apply relative font-noto-sans font-black;
	font-size: 9rem;
	animation: glitch 5s 5s infinite;
	height: 7rem;

	&::before {
		content: "404";
		@apply absolute top-0 bg-transparent overflow-hidden h-[7rem];
		text-shadow: -5px 0 $cyan;
		animation: noise-1 6.5s linear infinite alternate-reverse,
			glitch 5s 5.05s infinite;
	}

	&::after {
		content: "404";
		@apply absolute left-[2px] top-0 bg-transparent overflow-hidden h-[7rem];
		animation: noise-2 6.5s linear infinite alternate-reverse,
			glitch 5s 5.05s infinite;
	}
}

@keyframes glitch {
	1% {
		transform: rotateX(10deg) skewX(90deg);
	}
	2% {
		transform: rotateX(0deg) skewX(0deg);
	}
}

.glitch {
	&-container {
		transform: translateY(10%);
		display: block;
	}

	&-glow {
		@extend .glitch-text;
		text-shadow: 0 0 1000px $borahae-alt;
		color: transparent;
		position: absolute;
		top: 0;
	}
}

@keyframes noise-1 {
	$steps: 69;
	@for $i from 1 through $steps {
		#{percentage($i*(1/$steps))} {
			$top: random(100);
			$bottom: random(101 - $top);
			clip-path: inset(#{$top}px 0 #{$bottom}px 0);
		}
	}
}

@keyframes noise-2 {
	$steps: 69;
	@for $i from 0 through $steps {
		#{percentage($i*(1/$steps))} {
			$top: random(100);
			$bottom: random(101 - $top);
			clip-path: inset(#{$top}px 0 #{$bottom}px 0);
		}
	}
}
