@use "partials/variables" as *;

#container {
  @apply flex flex-col gap-y-8 mb-7;
}

#item {
  @apply relative flex flex-col md:flex-row text-center md:text-left gap-4 md:gap-8 p-5 rounded-md;

  @media only screen and (max-width: 768px) {
    @apply items-center;
  }

  &:first-child {
    @apply bg-transparent md:bg-borahae-400 md:bg-opacity-[13%];

    #contents {
      @media only screen and (max-width: 768px) {
        @apply border-borahaealt-600;
      }
    }
  }

  &:not(:first-child) {
    @apply bg-transparent md:bg-borahaealt-100 md:bg-opacity-[10%];
  }

  &:first-child img {
    @apply border-borahaealt-600;
  }

  &:last-child #img::before {
    @apply hidden;
  }

  &::before {
    content: "";
    @apply absolute -z-1 mx-auto w-3 h-full translate-y-12 border-l-white border-transparent border-dashed;
    border-width: 0.44rem;

    @media only screen and (min-width: 768px) {
      @apply hidden;
    }
  }

  &:last-child::before {
    @apply hidden;
  }
}

#img {
  @apply relative min-w-[12rem]  md:min-w-[8rem] max-w-[33%] md:w-[9.5rem] flex-shrink-0;

  img {
    @apply rounded-full w-full select-none border-4;
  }

  &::before {
    content: "";
    @apply hidden md:block absolute bottom-0 -z-1 h-full translate-y-[5rem] border-l-white border-transparent border-dashed;
    border-width: 0.33rem;
    margin-left: calc(9.5rem - 51%);
  }
}

#contents {
  @media only screen and (max-width: 768px) {
    @apply p-3 rounded-md border-white border-2 bg-opacity-75 bg-[#{$main-bg}];
  }

  h2 {
    @apply mb-3;
  }
}
