@use "partials/mixins" as *;
@use "partials/variables" as *;

#static-header {
	--backdrop-height: 24rem;
	@apply flex items-center flex-col md:flex-row justify-center md:justify-start gap-5 px-3 mb-6;
	margin-top: calc(var(--backdrop-height) - 12rem);

	&-contents {
		@apply flex flex-col items-center md:items-start;
	}

	&-tag {
		@apply py-0.5 px-2 rounded-md w-min translate-y-1;
	}
}

#backdrop {
	@apply absolute top-0 left-0 right-0 -z-1 opacity-40;
	height: var(--backdrop-height);

	&::after {
		content: "";
		@apply absolute bottom-0 left-0 right-0;
		height: calc(var(--backdrop-height) - 12rem);
		background: linear-gradient(to top, $main-bg 12%, #0000 100%);
	}
}

#image-wrapper {
	@apply select-none;
	$wrap: clamp(8rem, 11.5vw, 11rem);
	width: $wrap;
	height: $wrap;

	img {
		@apply rounded-full;
	}
}
