*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #202020;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

#app {
  height: 100vh;
  width: 100%;
}

div,
span,
blockquote {
  display: block;
}