---
import Layout from "../components/base/Layout.astro";
---

<Layout title="lol" description="Shit I nerd about lmfao">
	<section>
		picked posts
	</section>
	<section>
		<h1>Fresh from source</h1>
		<p>Browse the latest and greatest</p>
	</section>
</Layout>
