.wrapper {
  @apply mt-[5.5rem] bg-sona-borahaealt-900 p-5 rounded-md grid grid-flow-dense;

  grid-template-areas:
    "image heading-item"
    "image item-date"
    "image item-edu-1"
    "image item-edu-2"
    "image item-edu-3";
}

.img-wrapper {
  grid-area: image;
}

.heading {
  grid-area: heading-item;
}

.item-date {
  grid-area: item-date;
}
.item-edu-1 {
  grid-area: item-edu-1;
}
.item-edu-2 {
  grid-area: item-edu-2;
}
.item-edu-3 {
  grid-area: item-edu-3;
}
