/* Media query values */
$md-phone-val: 576px;
$md-tablet-val: 768px;
$md-laptop-val: 992px;
$md-laptop-4-3: 1024px;
$md-laptop-16-9: 1366px;
$md-x-desktop: 1600px;

/* Font size repsonsive for tablet and mobile users */
/* Relative values */
$fs-phone-rel: 80%;
$fs-tablet-rel: 95%;

/* Fixed values */
$fs-phone-fix: 13px;
$fs-tablet-fix: 15px;
