---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.svelte';
import Nav from '../components/Nav.svelte';
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
	</head>
	<body>
		<nav />
		<div class="wrapper mt4 mb4">
			<h1>404</h1>
			<p>Haha typical not found page funny</p>
		</div>
		<footer />
	</body>
</html>
