---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.svelte';
import Nav from '../components/Nav.svelte';
---

<html lang="en">
	<head>
		<MainHead title="About | Jeanine White" description="About Jeanine White Lorem Ipsum" />
    <style>
    </style>
	</head>
	<body>
		<Nav aboutactive="active"/>
    <main role="main">
      stuff like that
    </main>
		<Footer />
	</body>
</html>
