---
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.svelte';
import Footer from '../components/Footer.svelte';
---

<html lang="en">
	<head>
		<MainHead />
		<style lang="scss">
      // Styles here
		</style>
	</head>
	<body>
		<Nav homeactive="active" />
		<main role="main">
      coach gaming
    </main>
		<Footer />
	</body>
</html>
