#header {
  @apply w-full fixed top-0 px-9 py-1 transition-colors duration-300;
  @apply z-mosttop #{!important};

  &-scrolled {
    @extend #header;
    @apply bg-neutral-800;
  }
}

.container {
  @apply mx-auto max-w-screen-2xl flex justify-between items-center;
}

.logo {
  @apply py-5 px-2 font-ubuntu-mono font-bold text-2xl select-none;
  @apply bg-gradient-to-r bg-clip-text text-transparent from-sona-borahae-500 to-sona-skycyan-600;

  &::before {
    @apply content-["<"];
  }

  &::after {
    @apply content-["/>"];
  }

  &::before,
  &::after {
    @apply text-neutral-200 font-normal;
  }
}

@mixin logo-white {
  @apply text-neutral-50;

  &::before,
  &::after {
    @apply text-neutral-50;
  }
}

#header-scrolled .logo {
  @include logo-white;
}

.logo-white {
  @extend .logo;
  @include logo-white;
}

#menu-btn {
  @apply relative px-2 py-3 h-[3.5rem] w-[3.75rem] rounded-md z-3;
}

:is(.closed, .open) {
  &::before,
  &::after {
    @apply content-[""] translate-x-[0.35rem] -translate-y-0.5 w-[1.95rem] block border-b-2 transition-all duration-300;
  }
}

.closed {
  &:hover {
    &::before {
      @apply absolute rotate-0 top-[1.45rem];
    }

    &::after {
      @apply absolute rotate-0 top-[2.25rem];
    }
  }

  &::before {
    @apply absolute rotate-0 top-[1.35rem];
  }

  &::after {
    @apply absolute rotate-0 top-[2.35rem];
  }
}

.open {
  &::before {
    @apply absolute -rotate-45 top-[1.9rem];
  }
  &::after {
    @apply absolute rotate-45 top-[1.9rem];
  }
}

.logo-wrapper {
	@apply max-w-screen-2xl mx-auto px-0 pt-6;
}

/*** DROPDOWN ***/

.nav-heading {
  @apply relative uppercase text-2xl pb-2;
}

#hot-garbage {
  @apply line-through text-neutral-300 opacity-75;
}

#gradient-heading {
  @apply px-0.5;

  background-image: linear-gradient(
    45deg,
    theme("colors.sona-royalblue.700"),
    theme("colors.sona-borahaealt.600")
  );

  background-repeat: no-repeat;
  background-size: 100% 32%;
  background-position: 0 88%;
}

.dd-container {
  @apply absolute z-[auto] top-0 left-0 right-0 px-9 bg-neutral-800 duration-[320ms];
  transition-property: height;
}

.dd-container,
.dd-wrapper {
  @apply overflow-hidden;
}

.dd-container-closed {
  @extend .dd-container;
  @apply pointer-events-none;

  .dd-wrapper {
    @apply translate-y-5;
  }
}

.dd-wrapper {
  @apply transition-transform duration-[350ms] mt-5 overflow-hidden mx-auto max-w-screen-2xl bg-neutral-800 grid grid-flow-col;

  grid-template-areas: "list-portfolio" "list-others" "misc";

  @media (min-width: 768px) {
    grid-template-areas:
      "list-portfolio misc"
      "list-others misc";
  }

  @media (min-width: 1366px) {
    grid-template-areas: "list-portfolio list-others misc";
  }
}

.dd-col {
  @apply pl-0 pr-7 py-6 duration-[310ms];
  transition-property: transform, opacity;
  transition-delay: 120ms, 70ms;
  transition-timing-function: cubic-bezier(0, 0.17, 0, 1);

  &:nth-child(1) {
    grid-area: list-portfolio;
  }

  &:nth-child(2) {
    grid-area: list-others;
  }
}

.dd-col-grid {
  @apply grid;
  grid-area: misc;
  grid-template-rows: 1.75fr 1fr;
  grid-template-areas:
    "blog-item about-item"
    "lower-third lower-third";
}

#dd-col-list {
  @apply grid gap-2 grid-cols-1 lg:grid-cols-2;
}

#dd-col-item {
  @apply flex flex-col justify-center items-center gap-2;
}

#dd-fa-icon {
  @apply text-3xl;
}

.blog-item {
  @apply bg-sona-royalblue-700;
  grid-area: blog-item;
}

.about-item {
  @apply bg-sona-borahaealt-700;
  grid-area: about-item;
}

.lower-third {
  @apply bg-neutral-900 px-5 py-3;
  grid-area: lower-third;
}

.lt-socials {
  @apply flex gap-x-5 py-2;
}