/*** DROPDOWN ***/

.nav-heading {
  @apply relative uppercase text-2xl pb-2;
}

.dd-container {
  @apply absolute z-[auto] top-0 left-0 right-0 px-9 bg-neutral-900 duration-[320ms];
  transition-property: height;
}

.dd-container,
.dd-wrapper {
  @apply overflow-hidden;
}

.dd-container-closed {
  @extend .dd-container;
  @apply pointer-events-none;

  .dd-wrapper {
    @apply translate-y-5;
  }
}

.dd-wrapper {
  @apply transition-transform duration-[350ms] mt-5 overflow-hidden mx-auto max-w-screen-2xl grid grid-flow-col;

  grid-template-areas: "list-portfolio" "list-others" "misc";

  @media (min-width: 768px) {
    grid-template-areas:
      "list-portfolio misc"
      "list-others misc";
  }

  @media (min-width: 1366px) {
    grid-template-areas: "list-portfolio list-others misc";
  }
}

.dd-col {
  @apply xl:pt-0 pt-6 pl-0 pr-7 py-6 duration-[310ms];
  transition-property: transform, opacity;
  transition-delay: 120ms, 70ms;
  transition-timing-function: cubic-bezier(0, 0.17, 0, 1);

  &:nth-child(1) {
    grid-area: list-portfolio;
  }

  &:nth-child(2) {
    grid-area: list-others;
  }
}

.dd-col-grid {
  @apply grid rounded-md overflow-hidden;
  grid-area: misc;
  grid-template-rows: 1.75fr 1fr;
  grid-template-areas:
    "blog-item about-item"
    "lower-third lower-third";
}

#dd-col-list {
  @apply grid gap-2 grid-cols-1 lg:grid-cols-2;
}

#dd-col-item {
  @apply flex flex-col justify-center items-center gap-2;
}

.blog-item {
  @apply bg-sona-royalblue-700;
  grid-area: blog-item;
}

.about-item {
  @apply bg-sona-borahaealt-700;
  grid-area: about-item;
}

.lower-third {
  @apply bg-sona-borahaealt-900 px-5 py-3;
  grid-area: lower-third;
}

.lt-socials {
  @apply flex gap-x-5 py-2;
}
