---
import { kebabCase } from "lodash-es"

const navItems = [
  { name: "Category" },
  { name: "Dream Journal" },
  { name: "About me", link: "https://kurojifusky.com/about-us" },
]
---

<header class="mx-auto max-w-screen-2xl text-lg sticky top-0 bg-kuro-dark2">
  <div class="flex items-center justify-between px-8 py-4">
    <a href="/" class="flex items-center gap-x-4">
      <span class="font-unbounded font-bold text-4xl">K</span>
      <div
        class="before:content-['/'] before:font-light before:text-kuro-violet-100 before:text-opacity-50 text-2xl font-bold flex items-center gap-x-3"
      >
        <img src="/favicon.png" width="40" alt="" />
         Blog
      </div>
    </a>
    <nav>
      {
        navItems.map((item) => (
          <a
            role="listitem"
            href={!item.link ? kebabCase(item.name) : item.link}
            target={!item.link ? undefined : "_blank"}
          >
            {item.name}
          </a>
        ))
      }
    </nav>
  </div>
</header>
