<section class="flex justify-center items-center py-4">
  <div
    class="text-center bg-kuro-dark2 relative rounded-lg p-8 w-full before:content-[''] before:rounded-lg before:bg-gradient-to-tr before:from-orange-600 before:to-orange-200 before:absolute before:-inset-[1px] before:-inset-x-[2px] before:-z-[1] before:block"
  >
    <h2 class="my-6">This ain't a blog site without an RSS feed!</h2>
    <p>
      Still not availble... yet, I'm still working on things - it will be
      available eventually!
    </p>
    <div class="flex items-center justify-center">
      <button>SOOBSCRIEB</button>
    </div>
  </div>
</section>
