---
const { title = "skepfusky's portfolio", description = 'all skepfusky stuff i guess' } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" property="og:description" content={description} />
<meta name="viewport" content="width=device-width" />
<title>{title}</title>

<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/global.scss')} >
