* {
  scrollbar-color: var(--sf-cyan-dark-400) var(--sf-blue-dark-400);
}

.theme-light {
  background: whitesmoke;
  color: black;
}

$bd-dark: mix(black, gray, 75%);
$bd-dark-transparent: rgba(mix(black, gray, 75%), 0%);

:root {
  --backdrop: #{$bd-dark};
  --backdrop-trans: #{$bd-dark-transparent};
}