@use '../util/'as *;
@use '../styles/palette'as *;

:root {
  --font-light-black: #0b0c10;
  --override-light-theme: #ecf5fa;
}

.theme-light {
  background: var(--override-light-theme);
  color: var(--font-light-black);

  // global.scss
  a.clickable {
    border-color: var(--font-light-black);
    
    &:hover {
      --clickable-link: var(--sf-blue-light-300);
    }
  } 

  // 404 crap
  .page-not-found-stupid {
    background: var(--override-light-theme);
  }

  .not-found-wrapper {
    --header-drop-1: var(--sf-cyan-light-300);
    --header-drop-2: var(--sf-blue-light-500);
  }

  // NAVBAR
  .navbar-line {
    --nav-line: black;
  }

  .desktop-dropdown {
    $dd-mix: mix(gainsboro, $sf-cyan, 75%);
    --dropdown-content: #{$dd-mix};
  }

  :is(.desktop-hero-brand_btn, .theme-toggle-btn) {
    --nav-buttons: var(--sf-blue-light-600);
    --nav-buttons-hover: var(--sf-blue-light-400);
  }

  .theme-toggle-icon-rotate {
    transform: rotate(0deg);
  }

  // FOOTER
  footer {
    --footer-gradient-top: var(--sf-borahae-light-300);
    --footer-gradient-btm: var(--sf-blue-light-200);
  }

  .ft-container a {
    --brand-logo: var(--font-light-black);
    --brand-logo-hover: var(--sf-blue-dark-300);
  }

  // CARD CONTENTS
  .card-container {
    --sc-gradient-top: var(--sf-borahae-light-600);
    --sc-gradient-btm: var(--sf-blue-light-400);
  }

  $new-light: (1: darken(red, 1%),
    2: darken(red, 12%),
  );

  .card-container.new::before {

    @each $increment,
    $value in $new-light {
      --sc-new-#{$increment}: #{$value};
    }
  }


  .cardprop-id {
    &-series {
      --prop-id-series: #9db2f0;
    }

    &-music {
      --prop-id-music: #ff885c;
    }

    &-film {
      --prop-id-film: #ffb6da;
    }

    &-project {
      --prop-id-project: #e7a1e4;
    }

    &-misc {
      --prop-id-misc: var(--override-light-theme);
    }
  }

  // DISCOGRAPHY
  .lm {
    &-wrapper {
      color: var(--font-light-black);

      h1::after {
        color: var(--font-light-black) !important;
        border-color: var(--font-light-black) !important;
      }
    }

    &-platforms_row a {
      --lm-platforms: var(--override-light-theme);
      box-shadow: 2px 2px 12px rgba(black, 24%);
    }
  }

  .bar-block {
    --bar-fill: lightgray;
  }
}