.divider {
  @apply border-t-2 border-neutral-300;
}

.wrapper {
  @apply pb-4 relative;

  h1.section-heading {
    @apply my-10 text-center;
  }

  &::after {
    @apply content-[""] absolute -bottom-10 right-0 h-[3.5rem] w-[75%] bg-gradient-to-r from-sona-magenta-600 to-orange-600 -z-1 blur-[100px];
  }
}

.card-carousel {
  @apply grid grid-flow-col gap-3 md:gap-4 h-auto pb-1 overflow-x-scroll;

  scroll-snap-type: x proximity;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.item {
  composes: item from "./Hobbies.module.scss";
  @apply p-4 flex lg-others:grid w-[330px] lg-others:w-[520px] items-center text-center gap-3 scroll-px-10;

  box-shadow: 4px 4px 0 #7c728396;

  grid-template-columns: min-content 1fr 1fr;

  grid-template-areas:
    "card-img card-info card-info"
    "card-img card-action card-action";

  scroll-snap-align: center;
  scroll-snap-stop: normal;

  &:first-child,
  &:nth-child(2),
  &:last-child {
    @apply translate-y-0 translate-x-0 scale-100 from-neutral-500 to-neutral-500;
  }

  h2 {
    @apply text-2xl;
  }

  &:first-child {
    @apply ml-[9rem];
  }

  &:last-child {
    @apply mr-[9rem];
  }
}

.img-wrapper {
  grid-area: card-img;
  @apply relative mx-auto rounded-xl grid place-items-center overflow-hidden lg-others:w-[127px] w-[150px] lg-others:h-[127px] h-[150px];
}

.info-wrapper {
  grid-area: card-info;
  @apply text-center lg-others:text-left w-full h-max lg-others:h-auto;

  p {
    @apply text-[95%];
  }
}

.btn-wrapper {
  grid-area: card-action;
  @apply flex justify-start gap-x-3;

  span {
    @apply ml-2;
  }
}

.nav-button-container {
  @apply max-w-screen-2xl px-7 flex gap-x-2 py-4 justify-end mx-auto;
}

.project-btn {
  @apply bg-neutral-900 bg-opacity-25;
}