@mixin branding-white {
  @apply text-neutral-50;

  &::before,
  &::after {
    @apply text-neutral-50;
  }
}

.branding {
  @apply py-5 px-2 font-ubuntu-mono font-bold text-2xl select-none;
  @apply bg-gradient-to-r bg-clip-text text-transparent from-sona-borahae-500 to-sona-skycyan-600;

  &::before {
    @apply content-["<"];
  }

  &::after {
    @apply content-["/>"];
  }

  &::before,
  &::after {
    @apply text-neutral-200 font-normal;
  }
}

#header-scrolled .branding {
  @include branding-white;
}

.branding-white {
  @extend .branding;
  @include branding-white;
}

.gradient-header {
  @apply px-0.5;

  background-image: linear-gradient(
    45deg,
    theme("colors.sona-royalblue.700"),
    theme("colors.sona-borahaealt.600")
  );

  background-repeat: no-repeat;
  background-size: 100% 32%;
  background-position: 0 88%;
}
