// #region mixins
@mixin flexy($h: center, $v: center, $d: row) {
  display: flex;
  justify-content: $h;
  align-items: $v;
  flex-direction: $d;
}

@mixin pos-a($t:0, $b:unset, $l:0, $r:unset) {
  position: absolute;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
}

@mixin prop-transition($p: all, $t: 300ms) {
  transition: $p $t ease;
  -webkit-transition: $p $t ease;
}

@mixin md-phone-devices {
  @media only screen and (max-width: 576px) {
    @content;
  }
}

@mixin md-tablet-devices {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin md-laptop-devices {
  @media only screen and (max-width: 992px) {
    @content;
  }
}

@mixin md-desktop-devices {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}
// #endregion

// #region variables
$x-desktop-w: 1600px;
$desktop-w: 1280px;

$desktop-fs: 1.15rem;
$laptop-fs: 1rem;

$sf: (
  blue: (
    light: (
      100: hsl(209, 75%, 50%),
      200: hsl(209, 78%, 56%),
      300: hsl(209, 81%, 61%),
      400: hsl(209, 84%, 67%),
      500: hsl(209, 87%, 72%),
      600: hsl(209, 90%, 73%),
      700: hsl(209, 93%, 79%),
    ),
    dark: (
      100: hsl(209, 72%, 45%),
      200: hsl(209, 68%, 40%),
      300: hsl(209, 64%, 35%),
      400: hsl(209, 60%, 30%),
      500: hsl(209, 56%, 25%),
      600: hsl(209, 52%, 20%),
      700: hsl(209, 48%, 15%),
    ),
  ),
  cyan: (
    light: (
      100: hsl(189, 92%, 66%),
      200: hsl(189, 94%, 69%),
      300: hsl(189, 94%, 70%),
      400: hsl(189, 96%, 73%),
      500: hsl(189, 96%, 76%),
      600: hsl(189, 98%, 89%),
      700: hsl(189, 100%, 90%),
    ),
    dark: (
      100: hsl(189, 92%, 63%),
      200: hsl(189, 88%, 57%),
      300: hsl(189, 84%, 51%),
      400: hsl(189, 80%, 45%),
      500: hsl(189, 76%, 39%),
      600: hsl(189, 72%, 33%),
      700: hsl(189, 68%, 27%),
    ),
  ),
  yellow: (
    light: (
      100: hsl(51, 94%, 53%),
      200: hsl(51, 95%, 57%),
      300: hsl(51, 96%, 61%),
      400: hsl(51, 97%, 65%),
      500: hsl(51, 98%, 69%),
      600: hsl(51, 99%, 73%),
      700: hsl(51, 100%, 77%),
    ),
    dark: (
      100: hsl(51, 94%, 50%),
      200: hsl(51, 93%, 47%),
      300: hsl(51, 92%, 44%),
      400: hsl(51, 91%, 41%),
      500: hsl(51, 90%, 38%),
      600: hsl(51, 89%, 35%),
      700: hsl(51, 88%, 32%),
    ),
  ),
  borahae: (
    light: (
      100: hsl(283, 83%, 59%),
      200: hsl(283, 86%, 65%),
      300: hsl(283, 89%, 71%),
      400: hsl(283, 90%, 77%),
      500: hsl(283, 93%, 83%),
      600: hsl(283, 96%, 89%),
      700: hsl(283, 99%, 95%),
    ),
    dark: (
      100: hsl(283, 83%, 53%),
      200: hsl(283, 79%, 47%),
      300: hsl(283, 75%, 41%),
      400: hsl(283, 71%, 35%),
      500: hsl(283, 67%, 29%),
      600: hsl(283, 63%, 23%),
      700: hsl(283, 59%, 17%),
    ),
  ),
  peach: (
    light: (
      100: hsl(46, 94%, 82%),
      200: hsl(46, 95%, 84%),
      300: hsl(46, 96%, 86%),
      400: hsl(46, 97%, 88%),
      500: hsl(46, 98%, 90%),
      600: hsl(46, 99%, 92%),
      700: hsl(46, 100%, 94%),
    ),
    dark: (
      100: hsl(46, 94%, 78%),
      200: hsl(46, 92%, 74%),
      300: hsl(46, 90%, 70%),
      400: hsl(46, 88%, 66%),
      500: hsl(46, 86%, 62%),
      600: hsl(46, 84%, 58%),
      700: hsl(46, 82%, 54%),
    ),
  ),
  brown: (
    light: (
      100: hsl(27, 76%, 25%),
      200: hsl(27, 78%, 30%),
      300: hsl(27, 80%, 35%),
      400: hsl(27, 82%, 40%),
      500: hsl(27, 84%, 45%),
      600: hsl(27, 86%, 50%),
      700: hsl(27, 88%, 55%),
    ),
    dark: (
      100: hsl(27, 70%, 25%),
      200: hsl(27, 64%, 22%),
      300: hsl(27, 58%, 19%),
      400: hsl(27, 52%, 16%),
      500: hsl(27, 46%, 13%),
      600: hsl(27, 40%, 10%),
      700: hsl(27, 34%, 7%),
    ),
  ),
);

:root {
  @each $name, $colors in $sf {
    @each $varients, $themes in $colors {
      @each $level, $output in $themes {
        --sf-#{$name}-#{$varients}-#{$level}: #{$output};
      }
    }
  }
}
// #endregion

$width-squish: 
  "large-desktop" $x-desktop-w,
  "desktop" $desktop-w;

@each $desktop, $width in $width-squish {
  .width-#{$desktop} {
    max-width: $width;
  }
}