---
import NavbarLogoCrumb from "./Navbar/NavbarLogoCrumb.vue";
import NavbarMenus from "./Navbar/NavbarMenus.vue";
---

<header
  class="z-[5] border-0 border-b border-x-kuro-lavender-400 sticky top-0 inset-0 bottom-[unset] bg-kuro-dark1"
>
  <div
    class="flex items-center justify-between px-10 py-5 lg:py-3.5 mx-auto max-w-screen-2xl"
  >
    <NavbarLogoCrumb />
    <NavbarMenus client:idle />
  </div>
</header>
