@import "./wine-tahoma.css";
@import "@fontsource/inter";
@import "@fontsource/inter/600.css";
@import "@fontsource/inter/700.css";
@import "@fontsource/unbounded/latin-700.css";
@import "@fontsource/ibm-plex-mono";
@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --font-kuro-hero-heading: "Unbounded", var(--default-font-family);
  --font-kuro-body: "Inter", var(--default-font-family);
  --font-kuro-mono: "IBM Plex Mono", var(--default-mono-font-family);

  --font-xp-body: "Tahoma", "Wine Tahoma", "Wine Tahoma Bold", var(--default-font-family);

  --color-kuro-dark1: #110d17;
  --color-kuro-dark2: #07070b;

  --color-kuro-royalblue-50: #e4f0fb;
  --color-kuro-royalblue-100: #cee4f8;
  --color-kuro-royalblue-200: #9dc8f0;
  --color-kuro-royalblue-300: #6cade9;
  --color-kuro-royalblue-400: #3d92e1;
  --color-kuro-royalblue-500: #2076c5;
  --color-kuro-royalblue-600: #195e9f;
  --color-kuro-royalblue-700: #124778;
  --color-kuro-royalblue-800: #0d3254;
  --color-kuro-royalblue-900: #061a2d;

  --color-kuro-lavender-50: #f8f1fe;
  --color-kuro-lavender-100: #efdffc;
  --color-kuro-lavender-200: #e1c3f9;
  --color-kuro-lavender-300: #d2a3f5;
  --color-kuro-lavender-400: #c183f1;
  --color-kuro-lavender-500: #b266ed;
  --color-kuro-lavender-600: #9427e7;
  --color-kuro-lavender-700: #7113b9;
  --color-kuro-lavender-800: #4c0d7d;
  --color-kuro-lavender-900: #25063c;
}

@layer base {
  :is(a:not(.reset-link), .mock-link) {
    @apply underline text-blue-700 hover:text-blue-950 text-base
  }
}