@import "@scss/utility/mixins";
@import "@scss/utility/variables";
@import "@scss/utility/default";

@import "@scss/design/homecard";
@import "@scss/design/themes";

.width-responsive {
  @include md-desktop-devices {
    max-width: $large-desktop-w;
  }
  max-width: $desktop-w;
}

.top-heading {
  text: {
    align: center;
    transform: uppercase;
  }
  
  font-size: 185%;
}