@import"https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Noto+Sans+KR:wght@400;500;700&display=swap";

body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height: 1.35rem;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #202020;
  color: #f5f5f5;
}

hr {
  border: 0;
  border-bottom: 1px dashed #b5b5b5;
}