#introBtn {
  &::before {
    content: '';
    @apply absolute inset-0 rounded-lg translate-x-3 translate-y-3 -z-10 transition-all duration-300 ease-in-out;
    background: linear-gradient(to right, #db0505, #0a24e8, #0a24e8, #db0505);
    background-size: 215% auto;
  }

  &:hover::before {
    @apply translate-x-5 translate-y-5;
    background-position-x: right;
  }
}