/* main stuff */
.section {
  @apply flex p-4;

  &.hero-bio {
    @apply justify-around gap-x-6 px-4 py-[4rem];

    @media only screen and (max-width: 1023px) {
      @apply flex-col-reverse text-center gap-y-6;
    }
  }

  &:not(.hero-bio) {
    @apply flex-col;
  }
}

.section-header {
  @apply mb-4 mt-1 flex gap-3 items-center;
}

#hero-bio {
  &-info {
    @apply flex flex-col justify-center gap-y-3 w-auto lg:w-[50%];
  }

  &-svg {
    @apply grid place-items-center;
  }
}

#project {
  &-grid {
    @apply grid gap-5 text-center;
    grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));

    @media only screen and (min-width: 576px) {
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    }
  }
}

.featured-project {
  &-card {
    @apply p-4 flex flex-col gap-y-0.5 bg-gray-500 rounded-md mb-4 mr-4 relative;
    
    &::before {
      content: '';
      @apply block absolute;
      inset: 0;
      transform: translate(0.88rem, 0.88rem);
      z-index: -1;
      border-radius: inherit;
      background: linear-gradient(to right, rgba(0, 77, 140, 0.66), rgba(125, 5, 141, 0.66));
    }

    p {
      @apply h-full mb-2;
    }
  }

  &-image img {
    border-radius: 50%;
    box-shadow: 2px 5px 22px rgba(black, 40%);
    @apply my-0 mx-auto w-[9rem] md:w-[8.5rem] mb-1;
    }
  }