#wrapper {
  @apply w-full rounded-md transition-[border] duration-300 border-2;
}

.question {
  &-toggle {
    @apply p-5 xl:p-6 w-full flex justify-between items-center;
  }

  &-heading {
    @apply text-2xl xl:text-[1.75rem] text-left mr-4;
  }
}

.md-wrapper {
  @apply px-6 pt-0 pb-3 text-base xl:text-lg flex flex-col gap-3;
}

.md-links {
  @apply text-sona-borahaealt-200 inline-block relative w-fit hover:text-sona-borahaealt-300
								before:content-[''] before:bg-sona-borahaealt-300 before:absolute before:bottom-0 before:left-0 before:w-full before:h-[1px];

  &::before {
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 150ms ease-out;
  }

  &:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
