@mixin itemContainer($a) {
  @apply bg-borahae-dark rounded-xl gap-5 p-5 #{$a};
}

@mixin imgWrapperContainer($a) {
  @apply w-full md:w-[35%] lg:w-full xl:w-[35%] h-[15rem] md:h-auto xl:h-auto #{$a};
}

@mixin gradient-border($g1, $g2, $pos: top left) {
  position: relative;
  border: solid 2px transparent;
  border-radius: theme("borderRadius.lg");
  background-image: linear-gradient(
      theme("colors.borahae-dark"),
      theme("colors.borahae-dark")
    ),
    radial-gradient(circle at $pos, $g1, $g2);
  background-origin: border-box;
  background-clip: content-box, border-box;

  &::before {
    @apply content-[""] absolute inset-0 bg-borahae-dark rounded-lg;
  }
}

:is(.item, .item-spotlight) * {
  @apply relative z-1;
}

.item-spotlight {
  @include itemContainer(
    "flex flex-col md:flex-row xl:flex-row lg:p-7 lg:h-[21rem] relative"
  );
  @include gradient-border(
    theme("colors.sona-yellow.400"),
    theme("colors.sona-borahaealt.500")
  );

  grid-column: 1 / span 2;

  #img-wrapper {
    @include imgWrapperContainer("lg:h-full");
  }

  .content-heading {
    @apply lg:text-3xl xl:text-[2.35rem];
  }

  .content-description {
    @apply text-base xl:text-lg mt-1.5 h-full;
  }
}

.item {
  @include itemContainer("flex flex-col md:flex-row lg:flex-col xl:flex-row relative");
  @include gradient-border(
    theme("colors.sona-borahae.500"),
    theme("colors.sona-borahaealt.900"),
		top
  );

	box-shadow: 1.75rem 1.5rem 90px theme("colors.sona-borahaealt.900");

  #img-wrapper {
    @include imgWrapperContainer("lg:h-[15rem]");
  }

  .content-heading {
    @apply lg:text-3xl;
  }

  .content-description {
    @apply h-full;
  }
}

.cover {
  @apply overflow-hidden rounded-lg;
}

.contents {
  @apply w-full md:w-[65%] lg:w-full xl:w-[65%] flex flex-col gap-y-1 lg:gap-y-3 lg:h-auto xl:h-full;
}

.img-responsive {
  @apply relative h-full w-full;
}

.button-wrapper {
  @apply flex gap-4;
}

/** FLAT BUTTON **/
.flat-button {
  @apply flex items-center gap-x-2 px-3 py-1.5 rounded-md font-jetbrains-mono border border-sona-borahae-600 hover:border-cyan-400 transition-colors duration-300;

  > span {
    @apply text-[80%];
  }
}
