---
import { documentToHtmlString } from "@contentful/rich-text-html-renderer"
import {
  contentfulClient,
  type BlogPost,
  type FixConstraints
} from "../../lib/contentful"
import Page from "../../components/Base/Page.astro"

const { slug } = Astro.props

let post: Partial<BlogPost>

try {
  const { items } = await contentfulClient.getEntries<FixConstraints<BlogPost>>(
    {
      "content_type": "blogPost",
      // @ts-ignore
      "fields.slug": slug
    }
  )

  const { title, date, content } = items[0].fields

  post = {
    title,
    date: new Date(date).toLocaleDateString(),
    content: documentToHtmlString(content)
  }
} catch (youFukedUp) {
  return Astro.redirect("/404")
}
---

<Page title={post.title}>
  <h2>{post.title}</h2>
  <article set:html={post.content} />
</Page>
